root /frontend-dist;
index index.html;

location / {  # try files for SPA
    try_files $uri $uri/ $uri.html /index.html;
}

location ~* \.(?:css|js|html)$ {  # 1h storing on client for CSS+JS+HTML
    expires 1h;
    add_header Cache-Control "public";
}

location ~* \.(?:png|jpg|jpeg|gif|svg|ico|ttf|otf)$ {  # 7d storing on client for static images+fonts
    expires 7d;
    add_header Cache-Control "public";
}
