@import 'constants.styl'

animation-not-reduced(animation)
  @media (prefers-reduced-motion no-preference)
    animation animation

animation-index-delay(delay=0.1s)
  animation-delay 'calc(var(--animation-index, 0) * %s)' % delay

animation-float(time=0.5s, translateX=0, translateY=-20px, uniqueName=_)
  opacity 0
  animation 'float-%s %s ease forwards' % (uniqueName time)
  animation-index-delay()

  @keyframes float-{uniqueName}
    from
      transform translate(translateX, translateY)
      opacity 0
    to
      transform translate(0, 0)
      opacity 1

animation-opacity(time=0.5s)
  opacity 0
  animation opacity time ease forwards
  animation-index-delay()

  @keyframes opacity
    from
      opacity 0
    to
      opacity 1


animation-roll-down(start-height=0, duration=2s, padding=0)
  max-height start-height
  padding-top 0
  padding-bottom 0
  opacity 0
  animation animation-roll-down duration ease forwards
  animation-index-delay()

  @keyframes animation-roll-down
    0%
    10%
      opacity 0
    30%
      padding-top padding
      padding-bottom padding
      opacity 1
    99%
      max-height 1000px
      padding-top padding
      padding-bottom padding
      opacity 1
    100%
      max-height unset
      padding-top padding
      padding-bottom padding
      opacity 1

hover-effect()
  cursor pointer
  transition all 0.2s ease

  @media ({desktop})
    &:hover
      opacity 0.7

hover-effect-underline(color=white)
  background linear-gradient(color, color) 50% 100% / 0 1px no-repeat
  transition all 0.2s

  @media ({desktop})
    &:hover
      background-size 100% 1px
