_font_default(font-family)
  font-family font-family
  font-style normal
  font-display swap
  font-stretch normal

@font-face
  _font_default(ALS-Sector)

  font-weight 700
  src local(als-sector-bold),
    local(als sector bold),
    url("/static/fonts/ALS_Sector/ALS_Sector_Bold.ttf") format("truetype"),
    url("/static/fonts/ALS_Sector/ALS_Sector_Bold.woff") format("woff")
// @font-face
//  _font_default(ALS-Sector)
//  src local(ALS-Sector-SemiBold),
//  local(ALS Sector SemiBold),
//  url(/static/fonts/ALS_Sector/ALS_Sector_SemiBold.ttf) format("truetype"),
//  url(/static/fonts/ALS_Sector/ALS_Sector_SemiBold.woff) format("woff")
//  font-weight 600
@font-face
  _font_default(ALS-Sector)

  font-weight 500
  src local(als-sector-regular),
    local(als sector regular),
    url("/static/fonts/ALS_Sector/ALS_Sector_Regular.ttf") format("truetype"),
    url("/static/fonts/ALS_Sector/ALS_Sector_Regular.woff") format("woff")

