font-large-extra-extra()
  font-family Montserrat, Roboto, monospace
  font-size clamp(2rem, calc(3vw + 1.7rem), 4rem)
  line-height 1.2
font-large-extra()
  font-family Montserrat, Roboto, monospace
  font-size clamp(1.7rem, calc(2vw + 1.5rem), 2.5rem)
  line-height 1.2
font-large()
  font-family Montserrat, Roboto, monospace
  font-size clamp(1rem, calc(1vw + 1rem), 1.5rem)
  line-height 1.2
font-medium()
  font-family Montserrat, Roboto, monospace
  font-size clamp(1rem, calc(0.7vw + 0.7rem), 1.3rem)
  line-height 1.2
font-small()
  font-family Montserrat, Roboto, monospace
  font-size clamp(0.8rem, calc(0.5vw + 0.7rem), 1rem)
  line-height 1.2
font-small-extra()
  font-family Montserrat, Roboto, monospace
  font-size clamp(0.6rem, calc(0.3vw + 0.7rem), 0.8rem)
  line-height 1.2


font-bold-extra()
  font-weight 800
font-bold()
  font-weight 700
font-semibold()
  font-weight 600
font-normal()
  font-weight 500
font-thin()
  font-weight 400
font-thin-extra()
  font-weight 300
font-thin-extra-extra()
  font-weight 200


font-upper()
  text-transform uppercase
font-lower()
  text-transform lowercase
font-capital()
  text-transform capitalize


font-spaced()
  letter-spacing 1px
