font-large-extra()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(1.5rem, calc(2vw + 1.5rem), 2rem)
  line-height 1.2
font-large()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(1rem, calc(1vw + 1rem), 1.5rem)
  line-height 1.2
font-medium()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(1rem, calc(0.7vw + 0.7rem), 1.3rem)
  line-height 1.2
font-small()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(0.8rem, calc(0.5vw + 0.7rem), 1rem)
  line-height 1.2
font-small-extra()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(0.6rem, calc(0.3vw + 0.7rem), 0.8rem)
  line-height 1.2


font-bold()
  font-weight 700
font-semibold()
  font-weight 600
font-normal()
  font-weight 500
font-thin()
  font-weight 400
