@import 'constants.styl'
@import 'scrollbars.styl'
@import 'fonts.styl'
@import 'fontsLoader.styl'

html
  scroll-behavior smooth
  overflow-x hidden
  overflow-y hidden

*
  box-sizing border-box
  margin 0
  padding 0

body
  position relative
  overflow-x hidden
  overflow-y scroll
  width 100vw
  height 100vh
  margin 0
  padding 0
  border none
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color colorText1
  text-rendering optimizeLegibility
  color-scheme dark
  background colorBgLight
  outline none
  font-synthesis none
  -webkit-overflow-scrolling touch
  scrollable()
  font-medium()
  font-normal()

#app
  display flex
  flex-direction column
  width 100%
  height 100%
  min-height 100vh

a
  color inherit
  text-decoration none

a:visited
  color inherit

dialogTransitionTime = 0.3s
dialog
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  max-width calc(100vw - 40px)
  max-height calc(100vh - 80px)
  overflow auto
  transition all dialogTransitionTime allow-discrete
  border none

  animation close dialogTransitionTime forwards
  &[open]
    animation open dialogTransitionTime forwards
  &::backdrop
    background-color black
    opacity 0.6
    backdrop-filter blur(10px)

  @keyframes open
    from
      opacity 0
    to
      opacity 1
  @keyframes close
    from
      opacity 1
    to
      opacity 0
