@import 'constants.styl'

scroll-bg-color = transparent
scroll-thumb-color = #7c7c7c
scroll-thumb-color-hover = brightness(scroll-thumb-color, 1.2)
scrollbar-width-worded = thin
scrollbar-width = 4px
scrollbar-border = 2px
// scroll-track-radius = (scrollbar-width / 2)
scroll-track-radius = 0

scrollable()
  scrollbar-color scroll-thumb-color scroll-bg-color
  scrollbar-width scrollbar-width-worded

  &::-webkit-scrollbar
    width scrollbar-width
    height scrollbar-width

  &::-webkit-scrollbar-track
    border-radius scroll-track-radius
    background scroll-bg-color

  &::-webkit-scrollbar-thumb
    border scrollbar-border solid scroll-bg-color
    border-radius (scrollbar-width / 2)
    background-color scroll-thumb-color

  &::-webkit-scrollbar-corner
    background scroll-bg-color

  &:hover
    scrollbar-color scroll-thumb-color-hover scroll-bg-color

  &:hover::-webkit-scrollbar-thumb
    background-color scroll-thumb-color-hover


scrollbars-hidden()
  scrollbar-width none
  -ms-overflow-style none

  &::-webkit-scrollbar
  &::-webkit-scrollbar-corner
    width 0
    height 0

  &::-webkit-scrollbar-thumb
    width 0
    height 0
