@import 'constants.styl'

centered-margin()
  width 100%
  margin-right auto
  margin-left auto
centered-flex-container()
  display flex
  align-items center
  justify-content center
centered-absolute-transform()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

trans(time=0.2s)
  transition all time ease

input-no-styles()
  margin 0
  padding 0
  border none
  background none
  outline none
button-no-styles()
  cursor pointer
  margin 0
  padding 0
  border none
  background none
  outline none
list-no-styles()
  margin 0
  padding 0
  list-style none

svg-inside(size=1lh, marginLeft=0px, marginRight=10px)
  display flex
  align-items center
  > img
    width size
    height size
    margin 0 marginRight 0 marginLeft

img-size(size=16px)
  display inline-block
  width size
  height size

clickbox-before(inset=-10px)
  position relative
  &::before
    content ''
    position absolute
    inset inset
    background transparent

max-lines(count)
  overflow hidden
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp count
  line-clamp count
  text-overflow ellipsis

pc-hidden()
  @media ({desktop})
    display none

mobile-hidden()
  @media ({mobile})
    display none
